* {
  margin: 0;
  padding: 0;
  box-sizing: none;
}

:root {
  --bg-color-main: skyblue;
}

.headerwrapper {
  background-color: var(--bg-color-main);
}

footer {
  background-color: var(--bg-color-main);
}

.cell {
  width: 50px;
  height: 50px;
  background-color: darkblue;
  display: inline-block;
  border: solid 1px yellow;
}

.maze_wrapper {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 80vh;
}

.row {
  display: flex;
  flex-direction: column;
}
