@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

body {
  font-family: "Poiret One", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: none;
}

:root {
  --bg-color-main: skyblue;
}

.headerwrapper {
  background-color: var(--bg-color-main);
}

header {
  height: 8vh;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

header img {
  height: 6vh;
}

header ul li {
  list-style-type: none;
}

h1 {
  font-size: 2rem;
}

.instructions {
  text-align: center;
  font-size: 1.5rem;
  padding: 20px;
}

footer {
  background-color: var(--bg-color-main);
}

.cell {
  width: 30px;
  height: 30px;
  background-color: darkblue;
  display: inline-block;
  border: solid 1px yellow;
}

.maze-dimensions {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.maze-dimensions label,
input,
button {
  margin: 0 10px;
}

.maze-dimensions input {
  font-family: "Poiret One", cursive;
  height: 40px;
}

.maze-dimensions button {
  font-size: 1rem;
  height: 40px;
  width: 100px;
}

.maze_wrapper {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: auto;
}

.row {
  display: flex;
  flex-direction: column;
}

.cell0 {
  background-color: red;
  width: 30px;
  height: 30px;
  display: inline-block;
  border: solid 1px yellow;
}

.cell1 {
  background-color: green;
  width: 30px;
  height: 30px;
  display: inline-block;
  border: solid 1px yellow;
}

.solvedmaze {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: auto;
}

.solvedmaze .cell1 {
  background-color: blue;
  width: 30px;
  height: 30px;
  display: inline-block;
  border: solid 1px yellow;
}

.solutionmaze {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.solutionmaze button {
  margin: 10px;
  font-size: 1rem;
  height: 40px;
  width: 100px;
}
